{% extends "maincontrol/base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block stock %}
{% endblock %}

{% block body %}
<section>
    <div class="text-center">
        <h4 class="text-success">Daferenghe Inventory Management System</h3>
        <p><b>Any Problem? no problem.. any question? no question..</b></p>
    </div>
</section>

<section>
    <div class="">
        <h6 class="text-muted">Simple steps to follow.</h6>
        <p class='lead'><b>1. </b>Create an Inventory</p>
        <p class='lead'><b>2. </b>Set the inventory to currently managing</p>
        <p class='lead'><b>3. </b>Recieve inventories and send out inventories</p>
        <p class='lead'><b>4. </b>Edit either reciepts or payments</p>
        <p class='lead'><b>5. </b>View records</p>
    </div>
</section>
{% endblock %}