{% extends "maincontrol/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Inventory Requisition
{% endblock %}


{% block body %}

{% if messages %}
    {% for message in messages %}
        <h4 class='{{ message.tags }}'>{{ message }}</h4>
    {% endfor %}
{% endif %}

<section>
    <form method='POST' action="">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input type="submit" value='Send Out Inventory' class='btn btn-lg bg-success text-white'>
        <br>
    </form>
</section>
{% endblock %}